.book {
  width: 100%;
  max-width: 400px;
  height: 550px;
  min-width: 280px;
  position: relative;
  perspective: 1500px;
  font-family: "Dancing Script", cursive;
  color: rgba(39, 15, 8, 0.922);
  @media screen and (max-width: 500px) {
    height: 450px;
  }

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 1s linear;
    box-shadow: inset -1px 1px 5px rgb(229, 229, 229);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      background-color: brown;
      z-index: 199;
      backface-visibility: hidden;
    }

    .pageFront {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      position: absolute;
      background-color: red;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      z-index: 1;
      backface-visibility: hidden;
      background-image: linear-gradient(
        90deg,
        #d9d9d9 0%,
        rgb(247, 247, 247) 18%
      );
      h2 {
        position: absolute;
        z-index: 99;
        bottom: 50%;
        font-size: 60px;
        font-weight: 900;
        color: #392929;
      }
      h3 {
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
      }
      img {
        margin-bottom: 30px;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-size: 20px;
        span:nth-child(2) {
          margin-right: 30px;
          text-align: right;
        }
      }
    }
    .pageBack {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(-180deg);
      z-index: 10;
      backface-visibility: hidden;
      background-image: linear-gradient(
        270deg,
        #d9d9d9 0%,
        rgb(247, 247, 247) 18%
      );
    }
  }
  .flipped {
    transform: rotateY(-180deg);
  }
  .profondeur {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(239, 239, 239);
  }
}
