.contactInfoSection {
  padding: 60px;
  padding-top: 30px;
  background: linear-gradient(-185deg, #ffffff, #fae4df);
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }
  h1 {
    font-size: clamp(40px, 5vw, 55px);
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
  }
  .contactInfoArticle {
    color: #6d4c4c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    column-gap: 30px;
    row-gap: 30px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
    .infoWrapper {
      flex: 1;
      padding: 30px;

        background-color: #a465652b;
      border-radius: 20px;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      text-align: center;
      h2 {
        font-size: 23px;
        font-weight: 600;
      }
      p {
        font-size: 19px;
      }
    }
  }
  .mapWrapper {
    position: relative;
    z-index: 10;
    margin-top: 50px;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
}
