header {
  padding: 60px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    border-radius: 9px;
  }
  nav {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
