.contactSection {
  display: flex;
  flex-direction: row;
  padding: 60px;
  column-gap: 50px;
  row-gap: 50px;
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  .contactArticle {
    flex: 4;
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
  .mapContainer {
    z-index: 10;
    flex: 3;
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;
  }
}
