.advicesSection {
  background: linear-gradient(#ffffff, #fae4df, #ffffff);
  padding: 0 60px 60px 60px;
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }
  h1 {
    font-size: clamp(40px, 5vw, 55px);
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    color: #6d4c4c;
  }
  .advicesArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .controls {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    .mainButton {
      width: 130px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
